body {
	background: #fff;
	background-image: url(../images/symphony.png);
}

#whole {
	width: 700px;
	margin: auto;
	padding: 10px;
}

#header {
	margin-top: 70px;
	margin-bottom: 30px;
	text-align: center;
}

h1 {
	font-family: 'Economica', sans-serif;
	font-size: 40pt;
	line-height: 5px;
}

h2 {
	font-family: 'Economica', sans-serif;
	font-size: 20pt;
}
#content {
	width: 600px;
	margin: auto;
	background-color: #fff;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 0px;
	padding-bottom: 30px;
	text-align: left;
	line-height: 25px;
}

p {
	font-family: 'Noto Sans', sans-serif;
	font-size: 11pt;
}

a:link {
	color: #ff91bd;
	text-decoration: none;
}

a:visited {
	color: #ff91bd;
}

a:hover {
	color: #e7bacc;
}
