#whole {
	width: 800px;
}

.redbox {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
}

.whitebox {
	width: 100px;
	height: 100px;
	background-color: white;
	float: left;
}

.red2 {
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
}

.white2 {
	width: 100px;
	height: 100px;
	background-color: white;
	float: left;
}