body {
	background-color: black;
	color: white;
	font-family: 'Buenard', serif;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black; 
    background: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
	text-decoration: line-through;
}

#container {
	background-color: none;
	width: 400px;
	height: 550px;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 10px;
	text-align: center;
}

#container2 {
	background-color: none;
	width: 300px;
	height: 300px;
	clear: left;
	margin-left: 60px;
	font-size: 18px;
	letter-spacing: 30px;
	line-height: 29px;
}

#box1 {
	width: 100px;
	float: left;
}

#box2 {
	width: 100px;
	float: left;
}

#box3 {
	width: 100px;
	float: left;
}

#container3 {
	background-color: none;
	width: 300px;
	height: 250px;
	clear: left;
	margin-right: 10px;
	font-size: 10px;
	letter-spacing: 30px;
	line-height: 38px;
}

#box4 {
	width: 100px;
	float: left;
}