@keyframes color_change {
	from { color: white; }
	to { opacity: .0; }
}

body {
	background-color: black;
	color: white;
	font-family: 'Buenard', serif;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black; 
    background: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
	text-decoration: line-through;
}

#nextpage {
   background-color: none;
   width: 50px;
   height: 50px;
   margin: auto;
   position: fixed;
   right: 10px;
   bottom: 10px;
   text-align: center;
}

#container {
	background-color: none;
	width: 700px;
	height: 80px;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	letter-spacing: 50px;
	text-decoration: line-through;
	animation-name: color_change;
	animation-duration: 5s;
	animation-delay: .7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
