body {
	background-color: black;
	color: white;
	font-family: 'Buenard', serif;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black; 
    background: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
	text-decoration: line-through;
}

#nextpage {
	background-color: none;
	width: 50px;
	height: 50px;
	margin: auto;
	position: fixed;
	right: 10px;
	bottom: 10px;
	text-align: center;
}

#container {
	background-color: none;
	width: 600px;
	height: 600px;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 10px;
}

#box1 {
	width: 400px;
	height: 500px;
	background-color: none;
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    letter-spacing: 30px;
}

#box2 {
	width: 400px;
	height: 500px;
	background-color: none;
	text-align: center;
	position: absolute;
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 25px;
    letter-spacing: 20px;
    line-height: 20px;
}

#box3 {
<<<<<<< HEAD
	width: 400px;
=======
	width: 500px;
>>>>>>> origin/gh-pages
	height: 300px;
	background-color: none;
	text-align: left;
	position: absolute;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
<<<<<<< HEAD
    font-size: 180px;
    letter-spacing: 0px;
    opacity: .7;
=======
    font-size: 170px;
    letter-spacing: 10px;
    opacity: .2;
>>>>>>> origin/gh-pages
}

span {
	opacity: .5;
}