@keyframes color_change {
    from { opacity: .7; }
    to { opacity: 0; }
}

body {
	background-color: black;
	color: white;
	font-family: 'Buenard', serif;
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black; 
    background: white;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: gray;
	text-decoration: line-through;
}

#nextpage {
   background-color: none;
   width: 50px;
   height: 50px;
   margin: auto;
   position: fixed;
   right: 10px;
   bottom: 10px;
   text-align: center;
}

#o {
    background-color: none;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 350px;
    font-size: 180px;
    text-align: center;
    opacity: .7;
    animation-name: color_change;
    animation-duration: .6s;
    animation-delay: .6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#container {
	background-color: none;
	width: 800px;
	height: 600px;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 10px;
	font-size: 20px;
}

#warped {
	display: block; 
	width:800px; 
	height:600px;
	position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 30px;
}

#warped>span[class^=w]:nth-of-type(n+0){
	display:block; position:absolute;
	-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
	100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{
	font-family:'Buenard';
	font-size:20px;
	font-weight:regular;
	font-style:normal;
	line-height:0.65; 
	white-space:pre; 
	overflow:visible; 
	padding:0px;
}

                     #warped .w0 {
                     width: 20px; height: 24px; left: 21.07px; top: 15.04px;}

                     #warped .w1 {
                     width: 11px; height: 24px; left: 54.84px; top: 35.87px;}

                     #warped .w2 {
                     width: 17px; height: 24px; left: 80.14px; top: 56.38px;}

                     #warped .w3 {
                     width: 17px; height: 24px; left: 110.11px; top: 78.18px;}

                     #warped .w4 {
                     width: 20px; height: 24px; left: 139.98px; top: 101.04px;}

                     #warped .w5 {
                     width: 20px; height: 24px; left: 171.1px; top: 123.75px;}

                     #warped .w6 {
                     width: 19px; height: 24px; left: 205.04px; top: 148.18px;}

                     #warped .w7 {
                     width: 18px; height: 24px; left: 234.88px; top: 169.64px;}

                     #warped .w8 {
                     width: 20px; height: 24px; left: 266.37px; top: 193.41px;}

                     #warped .w9 {
                     width: 11px; height: 24px; left: 300.1px; top: 214.82px;}

                     #warped .w10 {
                     width: 17px; height: 24px; left: 324.73px; top: 235.06px;}

                     #warped .w11 {
                     width: 17px; height: 24px; left: 352.68px; top: 255.55px;}

                     #warped .w12 {
                     width: 20px; height: 24px; left: 383.63px; top: 279.35px;}

                     #warped .w13 {
                     width: 20px; height: 24px; left: 416.05px; top: 303.16px;}

                     #warped .w14 {
                     width: 19px; height: 24px; left: 448.73px; top: 326.79px;}

                     #warped .w15 {
                     width: 18px; height: 24px; left: 478.84px; top: 348.55px;}

                     #warped .w16 {
                     width: 20px; height: 24px; left: 508.87px; top: 371.38px;}

                     #warped .w17 {
                     width: 11px; height: 24px; left: 543.47px; top: 393.54px;}

                     #warped .w18 {
                     width: 17px; height: 24px; left: 567.51px; top: 413.47px;}

                     #warped .w19 {
                     width: 17px; height: 24px; left: 596.92px; top: 435.17px;}

                     #warped .w20 {
                     width: 20px; height: 24px; left: 626.26px; top: 457.97px;}

                     #warped .w21 {
                     width: 20px; height: 24px; left: 658.72px; top: 482.01px;}

                     #warped .w22 {
                     width: 19px; height: 24px; left: 690.9px; top: 505.56px;}

                     #warped .w23 {
                     width: 18px; height: 24px; left: 721.44px; top: 528.06px;}


#warped2 {
 	display: block; 
 	width:800px; 
 	height:600px;
 	position: absolute;
    top: 0;
    right: 0;
    bottom: 20px;
    left: 0;
 }

#warped2>span[class^=w]:nth-of-type(n+0){
	display:block; position:absolute;
	-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%
	100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped2 span{
	font-family:'Buenard';
	font-size:20px;
	font-weight:regular;
	font-style:normal;
	line-height:0.65; 
	white-space:pre; 
	overflow:visible; 
	padding:0px;
}

                     #warped2 .w0 {-moz-transform: rotate(-10.05rad);-webkit-transform: rotate(-10.05rad);-o-transform:
                     rotate(-10.05rad);-ms-transform: rotate(-10.05rad); transform: rotate(-10.05rad);
                     width: 20px; height: 24px; left: 740.09px; top: 25.9px;}

                     #warped2 .w1 {-moz-transform: rotate(-10.05rad);-webkit-transform: rotate(-10.05rad);-o-transform:
                     rotate(-10.05rad);-ms-transform: rotate(-10.05rad); transform: rotate(-10.05rad);
                     width: 11px; height: 24px; left: 715.39px; top: 46.11px;}

                     #warped2 .w2 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 17px; height: 24px; left: 684.95px; top: 65.9px;}

                     #warped2 .w3 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 17px; height: 24px; left: 654.76px; top: 87.78px;}

                     #warped2 .w4 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 621.59px; top: 110.82px;}

                     #warped2 .w5 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 590.14px; top: 133.73px;}

                     #warped2 .w6 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 19px; height: 24px; left: 558.78px; top: 156.98px;}

                     #warped2 .w7 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 18px; height: 24px; left: 527.7px; top: 180.04px;}

                     #warped2 .w8 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 495.96px; top: 202.51px;}

                     #warped2 .w9 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 11px; height: 24px; left: 471.01px; top: 224.04px;}

                     #warped2 .w10 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 17px; height: 24px; left: 440.18px; top: 244.4px;}

                     #warped2 .w11 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 17px; height: 24px; left: 409.87px; top: 266.58px;}

                     #warped2 .w12 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 377.91px; top: 288.87px;}

                     #warped2 .w13 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 345.34px; top: 312.71px;}

                     #warped2 .w14 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 19px; height: 24px; left: 313.58px; top: 336.33px;}

                     #warped2 .w15 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 18px; height: 24px; left: 284.45px; top: 358.02px;}

                     #warped2 .w16 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 250.43px; top: 382.19px;}

                     #warped2 .w17 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 11px; height: 24px; left: 227px; top: 402.64px;}

                     #warped2 .w18 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 17px; height: 24px; left: 197.18px; top: 422.26px;}

                     #warped2 .w19 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 17px; height: 24px; left: 166.38px; top: 444.79px;}

                     #warped2 .w20 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 134.77px; top: 466.81px;}

                     #warped2 .w21 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 20px; height: 24px; left: 102.07px; top: 490.69px;}

                     #warped2 .w22 {-moz-transform: rotate(-10.06rad);-webkit-transform: rotate(-10.06rad);-o-transform:
                     rotate(-10.06rad);-ms-transform: rotate(-10.06rad); transform: rotate(-10.06rad);
                     width: 19px; height: 24px; left: 70.72px; top: 513.9px;}

                     #warped2 .w23 {-moz-transform: rotate(-10.05rad);-webkit-transform: rotate(-10.05rad);-o-transform:
                     rotate(-10.05rad);-ms-transform: rotate(-10.05rad); transform: rotate(-10.05rad);
                     width: 18px; height: 24px; left: 40.49px; top: 536.15px;}