/* This is the animation code. */
@-webkit-keyframes example {
   from { transform: scale(2.0); }
   to   { transform: scale(1.0); }
}

::-moz-selection {
    color: white;
    background: #ff004d;
}

::selection {
    color: white; 
    background: #ff004d;
}

/* This is the element that we apply the animation to. */
.colorbox {
   -webkit-animation-name: example;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 2;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   animation-iteration-count: infinite;
   margin-left: 100px;
   margin-top: 100px;
   height: 100px;
   width: 300px;
   font-size: 100pt;
   font-family: sans-serif;
   color: #fac798
}

.colorbox2 {
   -webkit-animation-name: example;
   -webkit-animation-duration: .5s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 1;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   animation-iteration-count: infinite;
   margin: auto;
   height: 300px;
   width: 300px;
   opacity: .4;
   font-size: 60pt;
   font-family: sans-serif;
   color: #36d5d0;
}

.colorbox3 {
   -webkit-animation-name: example;
   -webkit-animation-duration: .8s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 1;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   animation-iteration-count: infinite;
   margin: auto;
   height: 600px;
   width: 700px;
   opacity: .7;
   font-size: 150pt;
   font-family: sans-serif;
   text-align: center;
   color: #fc0c7b;
}

.colorbox4 {
   -webkit-animation-name: example;
   -webkit-animation-duration: .8s;
   -webkit-animation-timing-function: ease; /* ease is the default */
   -webkit-animation-delay: 1s;             /* 0 is the default */
   -webkit-animation-iteration-count: 1;    /* 1 is the default */
   -webkit-animation-direction: alternate;  /* normal is the default */
   animation-iteration-count: infinite;
   height: 100px;
   width: 700px;
   top: 100px;
   left: 800px;
   position: absolute;
   font-size: 20pt;
   font-family: sans-serif;
   text-align: center;
   color: #21fbb0;
}
