body {
	background-image: url(../images/grey.png);
	cursor: url(http://cur.cursors-4u.net/cursors/cur-10/cur918.cur), default;
}

::-moz-selection {
    color: white;
    background: #ff004d;
}

::selection {
    color: white; 
    background: #ff004d;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 26pt;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 310;
	font-size: 12pt;
}

a {
	font-size: 11pt;
	color: gray;
	text-decoration: none;
}

a:hover {
	color: #ff004d;
}

#whole {
	width: 820px;
	margin: auto;
}

#text {
	background-color: #ffeff8;
	background: linear-gradient(#ffeff8, #ffd3eb);
	margin: auto;
	padding-bottom: 30px;
	padding-top: 40px;
	width: 820px;
}

#images {
	margin: auto;
	margin-top: 15px;
	margin-bottom: 5px;
}

#headline {
	width: 600px;
	margin: auto;
}

#main {
	width: 600px;
	margin: auto;
	margin-bottom: 50px;
	line-height: 20pt;
}