body {
	background: #ffeff8;
	background: linear-gradient(#ffeff8, #ffd3eb);
	background: -webkit-linear-gradient(#ffeff8, #ffd3eb);
	background: -moz-linear-gradient(#ffeff8, #ffd3eb);
}

::-moz-selection {
    color: white;
    background: #ff004d;
}

::selection {
    color: white; 
    background: #ff004d;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 26pt;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 310;
	font-size: 12pt;
}

a {
	font-size: 11pt;
	color: gray;
	text-decoration: none;
}

a:hover {
	color: #ff004d;
}

#whole {
	background-color: #ffeff8;
	margin-left: 150px;
	padding-bottom: 10px;
	padding-right: 100px;
	width: 800px;
}

#images {
	margin-left: 150px;
	margin-top: 15px;
}

#headline {
	width: 600px;
	margin-left: 150px;
}

#main {
	width: 600px;
	margin-left: 150px;
	margin-bottom: 50px;
	line-height: 20pt;
}