body {
	
	background: #66c2d6;
	background: radial-gradient(#f69898, #66c2d6 90%);

}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 11pt
}

#main {
	width: 700px;
	margin-left: 150px;
	line-height: 16pt;
}