body {
	background-color: #cde0e1;
}

p{
	font-family: tahoma, sans-serif;
	font-size: 12px;
	color: #444444;
	text-align: left;
}

h1{
	font-family: tahoma, sans-serif;
}

h2{
	font-family: tahoma, sans-serif;
	font-size: 14px;
}

h3{
	font-family: tahoma, sans-serif;
	font-size: 12px;
}

h4{
	font-family: tahoma, sans-serif;
	font-size: 12px;
}

h5{
	font-family: tahoma, sans-serif;
	font-size:12px;
}
