body {
	background-color: #000000;
}

#container {
	width: 1200px;
	height: 4000px;
	margin: auto;
}

@font-face {
	font-family: 'BorgiaPro';
	src: url(BorgiaPro_Regular.otf);
}

@font-face {
	font-family: 'Chiller';
	src: url(Chiller.ttf);
}

@font-face {
	font-family: 'Pacifico';
	src: url(Pacifico.ttf);
}

@font-face {
	font-family: 'Rockwell';
	src: url(Rockwell.ttf);
}

@font-face {
	font-family: 'Giddyup';
	src: url(Giddyup.otf);
}

#main {
	font-family: Chiller;
	font-size: 200px;
	color: #ee9839;
	text-align: center;
}

#main2 {
	font-family: Pacifico;
	font-size: 100px;
	color: #fff;
	text-align: center;
}

#box {
	font-family: Giddyup;
	font-size: 50px;
	color: #af4576;
	text-align: center;
}