body {
    padding-top: 200px;
    padding-left: 600px;
}

.container {
    width: 80px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px;

}
.play-button {
    height: 50px;
    width: 75px;
    background-color: pink;
    border-radius: 5px;
    position: relative;
}
.play-button:hover {
    background-color: purple;
}
.play-button:after {
    content:"";
    display: block;
    position: absolute;
    top: 15.5px;
    left: 30px;
    margin: 0 auto;
    border-style: solid;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
}
.pause {
    height: 50px;
    width: 75px;
    background-color: blue;
    border-radius: 5px;
    position: relative;
}
.pause:hover {
    background-color: red;
}
.pause:after {
    content:"";
    display: block;
    position: absolute;
    top: 17px;
    left: 29px;
    margin: 0 auto;
    border-right:8px solid white;
    border-left: 8px solid white;
    border-bottom: 8px solid white;
    border-top: 8px solid white;
}