body {
       background-color: pink;
}

#warped {
position: relative; 
display: block; 
width:588px; 
height:440px;
}

#warped>span[class^=w]:nth-of-type(n+0){display:block; position:absolute;
-moz-transform-origin:50% 100%; -webkit-transform-origin:50% 100%; -o-transform-origin:50%100%; -ms-transform-origin:50% 100%; transform-origin:50% 100%; }

#warped span{
font-family:'ABeeZee';
font-size:28px;
font-weight:regular;
font-style:normal;
line-height:0.65; 
white-space:pre; 
overflow:visible; 
padding:0px;}

#warped .w0 {-moz-transform: rotate(-7.85rad);-webkit-transform: rotate(-7.85rad);-o-transform:
rotate(-7.85rad);-ms-transform: rotate(-7.85rad); transform: rotate(-7.85rad);width: 25px; height: 24px; left: 27.5px; top: 194.8px;}

#warped .w1 {-moz-transform: rotate(-7.73rad);-webkit-transform: rotate(-7.73rad);-o-transform:rotate(-7.73rad);-ms-transform: rotate(-7.73rad); transform: rotate(-7.73rad);width: 22px; height: 24px; left: 30.84px; top: 167.5px;}

#warped .w2 {-moz-transform: rotate(-7.6rad);-webkit-transform: rotate(-7.6rad);-o-transform:rotate(-7.6rad);-ms-transform: rotate(-7.6rad); transform: rotate(-7.6rad);width: 13px; height: 24px; left: 39.81px; top: 144.9px;}

#warped .w3 {-moz-transform: rotate(-7.47rad);-webkit-transform: rotate(-7.47rad);-o-transform:rotate(-7.47rad);-ms-transform: rotate(-7.47rad); transform: rotate(-7.47rad);width: 18px; height: 24px; left: 43.81px; top: 125.49px;}

#warped .w4 {-moz-transform: rotate(-7.32rad);-webkit-transform: rotate(-7.32rad);-o-transform:rotate(-7.32rad);-ms-transform: rotate(-7.32rad); transform: rotate(-7.32rad);width: 16px; height: 24px; left: 54.63px; top: 105.91px;}

                     #warped .w5 {-moz-transform: rotate(-7.18rad);-webkit-transform: rotate(-7.18rad);-o-transform:
                     rotate(-7.18rad);-ms-transform: rotate(-7.18rad); transform: rotate(-7.18rad);
                     width: 9px; height: 24px; left: 68.02px; top: 91.7px;}

                     #warped .w6 {-moz-transform: rotate(-7.06rad);-webkit-transform: rotate(-7.06rad);-o-transform:
                     rotate(-7.06rad);-ms-transform: rotate(-7.06rad); transform: rotate(-7.06rad);
                     width: 13px; height: 24px; left: 76.67px; top: 79.98px;}

                     #warped .w7 {-moz-transform: rotate(-6.89rad);-webkit-transform: rotate(-6.89rad);-o-transform:
                     rotate(-6.89rad);-ms-transform: rotate(-6.89rad); transform: rotate(-6.89rad);
                     width: 18px; height: 24px; left: 90.4px; top: 66.75px;}

                     #warped .w8 {-moz-transform: rotate(-6.69rad);-webkit-transform: rotate(-6.69rad);-o-transform:
                     rotate(-6.69rad);-ms-transform: rotate(-6.69rad); transform: rotate(-6.69rad);
                     width: 19px; height: 24px; left: 110.51px; top: 55.52px;}

                     #warped .w9 {-moz-transform: rotate(-6.52rad);-webkit-transform: rotate(-6.52rad);-o-transform:
                     rotate(-6.52rad);-ms-transform: rotate(-6.52rad); transform: rotate(-6.52rad);
                     width: 13px; height: 24px; left: 133.25px; top: 49.11px;}

                     #warped .w10 {-moz-transform: rotate(-6.38rad);-webkit-transform: rotate(-6.38rad);-o-transform:
                     rotate(-6.38rad);-ms-transform: rotate(-6.38rad); transform: rotate(-6.38rad);
                     width: 9px; height: 24px; left: 151.08px; top: 46.53px;}

                     #warped .w11 {-moz-transform: rotate(-6.26rad);-webkit-transform: rotate(-6.26rad);-o-transform:
                     rotate(-6.26rad);-ms-transform: rotate(-6.26rad); transform: rotate(-6.26rad);
                     width: 11px; height: 24px; left: 165.3px; top: 46.05px;}

                     #warped .w12 {-moz-transform: rotate(-6.08rad);-webkit-transform: rotate(-6.08rad);-o-transform:
                     rotate(-6.08rad);-ms-transform: rotate(-6.08rad); transform: rotate(-6.08rad);
                     width: 22px; height: 24px; left: 180.99px; top: 48.61px;}

                     #warped .w13 {-moz-transform: rotate(-5.89rad);-webkit-transform: rotate(-5.89rad);-o-transform:
                     rotate(-5.89rad);-ms-transform: rotate(-5.89rad); transform: rotate(-5.89rad);
                     width: 13px; height: 24px; left: 206.77px; top: 55.22px;}

                     #warped .w14 {-moz-transform: rotate(-5.72rad);-webkit-transform: rotate(-5.72rad);-o-transform:
                     rotate(-5.72rad);-ms-transform: rotate(-5.72rad); transform: rotate(-5.72rad);
                     width: 20px; height: 24px; left: 221.95px; top: 65.01px;}

                     #warped .w15 {-moz-transform: rotate(-5.55rad);-webkit-transform: rotate(-5.55rad);-o-transform:
                     rotate(-5.55rad);-ms-transform: rotate(-5.55rad); transform: rotate(-5.55rad);
                     width: 9px; height: 24px; left: 243.34px; top: 77.19px;}

                     #warped .w16 {-moz-transform: rotate(-5.37rad);-webkit-transform: rotate(-5.37rad);-o-transform:
                     rotate(-5.37rad);-ms-transform: rotate(-5.37rad); transform: rotate(-5.37rad);
                     width: 28px; height: 24px; left: 249.56px; top: 94.39px;}

                     #warped .w17 {-moz-transform: rotate(-5.16rad);-webkit-transform: rotate(-5.16rad);-o-transform:
                     rotate(-5.16rad);-ms-transform: rotate(-5.16rad); transform: rotate(-5.16rad);
                     width: 18px; height: 24px; left: 269.17px; top: 118.66px;}

                     #warped .w18 {-moz-transform: rotate(-5rad);-webkit-transform: rotate(-5rad);-o-transform:
                     rotate(-5rad);-ms-transform: rotate(-5rad); transform: rotate(-5rad); width:
                     21px; height: 24px; left: 276.11px; top: 141.04px;}

                     #warped .w19 {-moz-transform: rotate(-4.88rad);-webkit-transform: rotate(-4.88rad);-o-transform:
                     rotate(-4.88rad);-ms-transform: rotate(-4.88rad); transform: rotate(-4.88rad);
                     width: 12px; height: 24px; left: 285.36px; top: 162.16px;}

                     #warped .w20 {-moz-transform: rotate(-4.77rad);-webkit-transform: rotate(-4.77rad);-o-transform:
                     rotate(-4.77rad);-ms-transform: rotate(-4.77rad); transform: rotate(-4.77rad);
                     width: 20px; height: 24px; left: 283.63px; top: 183.09px;}

                     #warped .w21 {-moz-transform: rotate(-4.77rad);-webkit-transform: rotate(-4.77rad);-o-transform:
                     rotate(-4.77rad);-ms-transform: rotate(-4.77rad); transform: rotate(-4.77rad);
                     width: 16px; height: 24px; left: 286.36px; top: 208.9px;}

                     #warped .w22 {-moz-transform: rotate(-4.92rad);-webkit-transform: rotate(-4.92rad);-o-transform:
                     rotate(-4.92rad);-ms-transform: rotate(-4.92rad); transform: rotate(-4.92rad);
                     width: 33px; height: 24px; left: 281.67px; top: 238.13px;}

                     #warped .w23 {-moz-transform: rotate(-5.08rad);-webkit-transform: rotate(-5.08rad);-o-transform:
                     rotate(-5.08rad);-ms-transform: rotate(-5.08rad); transform: rotate(-5.08rad);
                     width: 10px; height: 24px; left: 300.41px; top: 262.96px;}

                     #warped .w24 {-moz-transform: rotate(-5.18rad);-webkit-transform: rotate(-5.18rad);-o-transform:
                     rotate(-5.18rad);-ms-transform: rotate(-5.18rad); transform: rotate(-5.18rad);
                     width: 9px; height: 24px; left: 306.92px; top: 276.64px;}

                     #warped .w25 {-moz-transform: rotate(-5.34rad);-webkit-transform: rotate(-5.34rad);-o-transform:
                     rotate(-5.34rad);-ms-transform: rotate(-5.34rad); transform: rotate(-5.34rad);
                     width: 24px; height: 24px; left: 310.39px; top: 294.84px;}

                     #warped .w26 {-moz-transform: rotate(-5.52rad);-webkit-transform: rotate(-5.52rad);-o-transform:
                     rotate(-5.52rad);-ms-transform: rotate(-5.52rad); transform: rotate(-5.52rad);
                     width: 11px; height: 24px; left: 331.67px; top: 312.01px;}

                     #warped .w27 {-moz-transform: rotate(-5.64rad);-webkit-transform: rotate(-5.64rad);-o-transform:
                     rotate(-5.64rad);-ms-transform: rotate(-5.64rad); transform: rotate(-5.64rad);
                     width: 11px; height: 24px; left: 343.36px; top: 322px;}

                     #warped .w28 {-moz-transform: rotate(-5.8rad);-webkit-transform: rotate(-5.8rad);-o-transform:
                     rotate(-5.8rad);-ms-transform: rotate(-5.8rad); transform: rotate(-5.8rad);
                     width: 17px; height: 24px; left: 356.37px; top: 332.13px;}

                     #warped .w29 {-moz-transform: rotate(-6rad);-webkit-transform: rotate(-6rad);-o-transform:
                     rotate(-6rad);-ms-transform: rotate(-6rad); transform: rotate(-6rad); width:
                     20px; height: 24px; left: 377.08px; top: 341.14px;}

                     #warped .w30 {-moz-transform: rotate(-6.16rad);-webkit-transform: rotate(-6.16rad);-o-transform:
                     rotate(-6.16rad);-ms-transform: rotate(-6.16rad); transform: rotate(-6.16rad);
                     width: 9px; height: 24px; left: 401.29px; top: 345.04px;}

                     #warped .w31 {-moz-transform: rotate(-6.31rad);-webkit-transform: rotate(-6.31rad);-o-transform:
                     rotate(-6.31rad);-ms-transform: rotate(-6.31rad); transform: rotate(-6.31rad);
                     width: 16px; height: 24px; left: 415.28px; top: 345.97px;}

                     #warped .w32 {-moz-transform: rotate(-6.57rad);-webkit-transform: rotate(-6.57rad);-o-transform:
                     rotate(-6.57rad);-ms-transform: rotate(-6.57rad); transform: rotate(-6.57rad);
                     width: 37px; height: 24px; left: 435.68px; top: 341.35px;}

                     #warped .w33 {-moz-transform: rotate(-6.85rad);-webkit-transform: rotate(-6.85rad);-o-transform:
                     rotate(-6.85rad);-ms-transform: rotate(-6.85rad); transform: rotate(-6.85rad);
                     width: 19px; height: 24px; left: 475.11px; top: 327.83px;}

                     #warped .w34 {-moz-transform: rotate(-7.03rad);-webkit-transform: rotate(-7.03rad);-o-transform:
                     rotate(-7.03rad);-ms-transform: rotate(-7.03rad); transform: rotate(-7.03rad);
                     width: 16px; height: 24px; left: 494.44px; top: 314.25px;}

                     #warped .w35 {-moz-transform: rotate(-7.22rad);-webkit-transform: rotate(-7.22rad);-o-transform:
                     rotate(-7.22rad);-ms-transform: rotate(-7.22rad); transform: rotate(-7.22rad);
                     width: 22px; height: 24px; left: 507.59px; top: 296.23px;}

                     #warped .w36 {-moz-transform: rotate(-7.37rad);-webkit-transform: rotate(-7.37rad);-o-transform:
                     rotate(-7.37rad);-ms-transform: rotate(-7.37rad); transform: rotate(-7.37rad);
                     width: 9px; height: 24px; left: 524.82px; top: 279.06px;}

                     #warped .w37 {-moz-transform: rotate(-7.48rad);-webkit-transform: rotate(-7.48rad);-o-transform:
                     rotate(-7.48rad);-ms-transform: rotate(-7.48rad); transform: rotate(-7.48rad);
                     width: 11px; height: 24px; left: 530.03px; top: 265.62px;}

                     #warped .w38 {-moz-transform: rotate(-7.59rad);-webkit-transform: rotate(-7.59rad);-o-transform:
                     rotate(-7.59rad);-ms-transform: rotate(-7.59rad); transform: rotate(-7.59rad);
                     width: 13px; height: 24px; left: 534.65px; top: 249.03px;}

                     #warped .w39 {-moz-transform: rotate(-7.69rad);-webkit-transform: rotate(-7.69rad);-o-transform:
                     rotate(-7.69rad);-ms-transform: rotate(-7.69rad); transform: rotate(-7.69rad);
                     width: 13px; height: 24px; left: 538.51px; top: 231.94px;}

                     #warped .w40 {-moz-transform: rotate(-7.79rad);-webkit-transform: rotate(-7.79rad);-o-transform:
                     rotate(-7.79rad);-ms-transform: rotate(-7.79rad); transform: rotate(-7.79rad);
                     width: 16px; height: 24px; left: 539.41px; top: 212.32px;}

