#body {
	background-color: white;
}

#container {
	width: 1000px;
	height: 2000px;
}

#container2 {
	width: 1000px;
	height: 350px;
}

#header {
	width: 1000px;
	height: 200px;
	margin-bottom: 10px;
	background-color: red;
}

#description {
	width: 1000px;
	height: 130px;
	background-color: red;
	margin-bottom: 10px;
}

#container3 {
	width: 1000px;
	height: 1450px;
}

#content {
	width: 320px;
	height: 1450px;
	background-color: red;
	margin-right: 20px;
	float: left;
}

#content2 {
	width: 320px;
	height: 1450px;
	background-color: red;
	float: left;
}

#footer {
	width: 1000px;
	height: 200px;
	margin-top: 10px;
	background-color: red;
	clear: left;
}